web/WEB-INF/wsdl/localhost_8080/FlightCheckerService/FlightCheckerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.flight.lyit.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.flight.lyit.com/">

<xs:element name="getLyitFlightCheckerboardArray" type="tns:getLyitFlightCheckerboardArray"/>

<xs:element name="getLyitFlightCheckerboardArrayResponse" type="tns:getLyitFlightCheckerboardArrayResponse"/>

<xs:element name="lyitFlightCheckerboard" type="tns:lyitFlightCheckerboard"/>

<xs:complexType name="getLyitFlightCheckerboardArray">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLyitFlightCheckerboardArrayResponse">
<xs:sequence>
<xs:element name="return" type="tns:lyitFlightCheckerboard" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lyitFlightCheckerboard">
<xs:sequence>
<xs:element name="actTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="airlineCode" type="xs:string" minOccurs="0"/>
<xs:element name="destAirport" type="xs:string" minOccurs="0"/>
<xs:element name="estTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="flightNo" type="xs:string" minOccurs="0"/>
<xs:element name="fromAirport" type="xs:string" minOccurs="0"/>
<xs:element name="gate" type="xs:string" minOccurs="0"/>
<xs:element name="route" type="xs:string" minOccurs="0"/>
<xs:element name="schTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="terminal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>